[*.{cs,vb}]

# IDE0270: Use coalesce expression
dotnet_diagnostic.IDE0270.severity = none

# IDE0150: Prefer 'null' check over type check
dotnet_diagnostic.IDE0150.severity = none

# IDE0074: Use compound assignment
dotnet_diagnostic.IDE0074.severity = none

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0305: Simplify collection initialization
dotnet_style_prefer_collection_expression = false
